In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('./data/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [11]:
def parse_workclass(wc):
    if wc == 'Private':
        return 0
    elif wc in ('State-gov' , 'Federal-gov', 'Local-gov'):
        return 1
    else:
        return -1
    
def parse_race(race):
    if race == 'White':
        return 0
    elif race == 'Black':
        return 1
    elif race == 'Asian-Pac-Islander':
        return 2
    elif race == 'Amer-Indian-Eskimo':
        return 3
    else:
        return 4

In [12]:
df['workclass'] = df['workclass'].apply(lambda x: parse_workclass(x))
df['marital.status'] = (
    df['marital.status']
    .apply(
        lambda x: 1 if x in ('Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse') else 0
    )
)
df['race'] = df['race'].apply(lambda x: parse_race(x))
df['sex'] = df['sex'].apply(lambda x: 1 if x == 'Male' else 0)
df['native.country'] = df['native.country'].apply(lambda x: 1 if x == 'United-States' else 0)
df['income'] = df['income'].apply(lambda x: 1 if x == '<=50K' else 0)

df = (
    df[
        [
            'age', 'workclass', 'fnlwgt', 'education.num',
            'marital.status', 'race', 'sex', 'hours.per.week',
            'native.country', 'income'
        ]
    ]
)

In [13]:
X = df.drop('income', axis=1)
y = df['income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=79)

In [14]:
train = (
    X_train
    .merge(
        y_train,
        how='inner',
        left_index=True,
        right_index=True
    )
)

test = (
    X_test
    .merge(
        y_test,
        how='inner',
        left_index=True,
        right_index=True
    )
)

train.shape, test.shape

((21815, 10), (10746, 10))

In [8]:
train.to_csv('./data/adult_train.csv', index=False, header=True)
test.to_csv('./data/adult_test.csv', index=False, header=True)

In [44]:
from feature_selection import *

In [45]:
eva = Classification_Evaluator()